html {
    height:100%;
    margin:0;
    padding:0;
   }
body{
    font-size: 12px;
    height: 100%;
    margin: 0;
    padding: 0;
}
.main-container{
    display:flex;
    flex-direction:column;
    height: 100%;
}
.logo-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 270px;
}
.search-bar-container{
    display: flex;
    flex-direction: row;
    margin: 35px 20px 0 20px;
    width: 90%;
    max-width: 550px;
    justify-content: flex-start;
    height: 40px;
    border: 1px;
    border-style: solid;
    border-color: rgb(209, 209, 209);
    border-radius: 25px;
}
.search-bar-container:hover{
    box-shadow: 0 2px 15px 0 rgba(170, 170, 170, 0.2), 0 2px 5px 0 rgba(128, 128, 128, 0.19);
}
.icon-search{
    width: 6%;
    height:100%;
    padding: 0 10px 0 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.form-search{
    width: 94%;
    height:100%;
}
#search-bar{
    width: 100%;
    height: 85%;
    border-style: none;
    border-radius: 25px;
    margin-top: 2px;
}
input:focus{
    outline: none;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.main-navbar{
    display:flex;
    align-items: center;
    flex-flow: row;
}
a{
    color: rgb(36, 36, 36);
    text-decoration: none;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
.profile-picture{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    cursor:pointer;
}
.profile-picture:hover{
    background-color: grey;
}
.text-link{
    padding: 5px;
}
.icon:hover{
    text-decoration: none;
}
a.text:hover{
    text-decoration: underline; 
}
.text-navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.icons-navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.icon1{
    display:flex;
    justify-content: center;
    align-items:center;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.icon1:hover{
    background-color: rgb(233, 233, 233);
    border-radius: 50%;
}
.icon2{
    display:flex;
    justify-content: center;
    align-items:center;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.icon2:hover{
    background-color: rgb(233, 233, 233);
    border-radius: 50%;
}
ul{
    padding: 0;
}
li{
    display: inline;
}
.material-icons-rounded{
    font-family: Material Icons, serif;
    font-size: 25px;
    color:rgb(59, 59, 59);
    text-decoration: none;
}
.material-icons-rounded-search{
    font-family: Material Icons, serif;
    font-size: 20px;
    color:rgb(150, 150, 150);
    text-decoration: none;
    cursor:default;
}
.middle-container{
    display:flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.footer-container{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.footer1-subelement{
    background: #f2f2f2;
    color: rgba(0,0,0,.54);
    border-color: rgb(223, 223, 223);
    border-width: 1px;
    border-bottom-style: solid;
}
.footer1-subelement p{
    color: rgb(138, 138, 138);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    margin-left: 15px;
}
.footer2-subelement{
    background: #f2f2f2;
    color: rgba(0,0,0,.54);
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: space-between;
    padding: 0px 20px 0 20px;
}
.footer2-textleft li{
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer2-textleft li:hover{
    text-decoration: underline;
}
.footer2-textright li{
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer2-textright li:hover{
    text-decoration: underline;
}
