body{
    font-size: 12px;
}
.main-container{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
}
.logo-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 270px;
}
.search-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.main-navbar{
    display:flex;
    align-items: center;
    flex-flow: row;
}
a{
    color: rgb(36, 36, 36);
    text-decoration: none;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
.profile-picture{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    cursor:pointer;
}
.profile-picture:hover{
    background-color: grey;
}
.text-link{
    padding: 5px;
}
.icon:hover{
    text-decoration: none;
}
a.text:hover{
    text-decoration: underline; 
}
.text-navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.icons-navbar{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.icon1{
    display:flex;
    justify-content: center;
    align-items:center;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.icon1:hover{
    background-color: rgb(233, 233, 233);
    border-radius: 50%;
}
.icon2{
    display:flex;
    justify-content: center;
    align-items:center;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.icon2:hover{
    background-color: rgb(233, 233, 233);
    border-radius: 50%;
}
ul{
    padding: 0;
}
li{
    display: inline;
}
.material-icons-rounded{
    font-family: Material Icons, serif;
    font-size: 25px;
    color:rgb(59, 59, 59);
    text-decoration: none;
}
